.wrapper {
   max-width: 1920px;
   margin: 0 auto;
}

.header__wrapper {
    padding: 0 374px;
    padding-top: 17px;
}

.header-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 9;
}

.first__bar {
    width: 22px;
    height: 3px;
    background-color: #2B3350;
    margin: 6px 0;
    transition: 0.4s;
}

.second__bar {
    width: 26px;
    height: 3px;
    background-color: #2B3350;
    margin: 6px 0;
    transition: 0.4s;
}

.third__bar {
    width: 18px;
    height: 3px;
    background-color: #2B3350;
    margin: 6px 0;
    transition: 0.4s;
}

.change .first__bar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    width: 28px;
  }
  
  .change .second__bar {
    opacity: 0;
  }
  
  
  .change .third__bar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-7px, -4px) ;
    width: 28px;
  }

.menu__tel-img {
    cursor: pointer;
    margin-right: 149px;
}

.title-img {
    width: 184px;
    height: 30px;
}

.header__title {
    font-family: Inter;
    font-size: 22px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.title-discription{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    text-transform: uppercase;
    position: absolute;
    color: #959AAE;
    top: 71%;
    left: 20%;
    opacity: 0.6;
}

.tel__cart {
    display: none;
    position: relative;
}

.tel__cart-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header__searching {
    position: relative;
    margin-left: 29px;
}

.header__searching-input {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2B3350;
    width: 510px;
    height: 51px;
    background: #F7F7F8;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 50px;
    opacity: 0.3;
}

.search-img {
    width: 18px;
    height: 18px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    cursor: pointer;
    z-index: 9;
}

.header__search {
    border: 0;
    width: 204px;
}



.phone-img {
    width: 25px;
    height: 25px;
}

.header__phone {
    text-decoration: none;
    display: flex;
    align-items: center;
}


.number {
    color: #2B3350;
    font-size: 19px;
    padding-right: 13px;
    font-family: Inter;
}

.header__call {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2B3350;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 188px;
    height: 51px;
}

.header__calling {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2B3350;
    padding-right: 43px;
    list-style: none;
    cursor: pointer;
}

.header-down {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.header__btn {
    background: #2B3350;
    border-radius: 0px 12px 12px 12px;
    color: #ffff;
    width: 180px;
    height: 47px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: Inter;
    margin-right: 34px;
    list-style-type: none;
}

.button-img {
    width: 30px;
    height: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.send-img {
    width: 27px;
    height: 21px;
    padding-top: 3px;
    padding-right: 9px;
    cursor: pointer;
}

.chevron-img {
    width: 20px;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;
}

.header__calling-contact {
    padding-right: 34%;
}

.header__location {
    margin-top: 34px;
    padding-left: 30px;
}
.cart-img {
    width: 30px;
    height: 20px;
    padding-right: 9px;
    cursor: pointer;
}

.cart-add {
    background: #0074D4;
    width: 26px;
    height: 19px;
    border-radius: 27px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 2px;
}

.header__cart {  
    margin-top: 34px;
    display: flex;
}

@media (max-width: 1920px) {
    .header__wrapper{
        padding: 0 50px;
    }
    .header-down {
        flex-wrap: wrap;
    }

    .header-up {
        flex-wrap: wrap;
    }

    .header__list {
        flex-wrap: wrap;
    }
}

@media (max-width: 1460px){
    .header__searching-input {
        width: 250px;
    }
}

@media (max-width: 1070px) {
    .header__calling {
        padding-right: 30px;
        font-size: 10px;
    }

    .cart-img {
        width: 20px;
        height: 10px;
    }
    
    .cart-add {
        width: 17px;
        height: 10px;
        font-size: 8px;
    }

    .number {
        padding-right: 0;
        font-size: 13px;
    }

    .header__call {
        font-size: 12px; 
    }

    .header__searching-input {
        padding-left: 55px;
        font-size: 12px;
    } 

    .search-img {
        width: 14px;
        height: 14px;
    }

    .title-img {
        width: 160px;
        height: 23px;
    }

    .title-discription {
        font-size: 8px;
        left: 24%;
    }

    .header__btn {
        width: 139px;
        height: 38px;
        font-size: 11px;
        margin-right: 8px;
    }

    .button-img {
        width: 25px;
        height: 13px;
    }

    .phone-img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 860px){
    .header__call {
        display: none; 
    }

    .header__btn {
        width: 100px;
        height: 32px;
        font-size: 9px;
    }

    .header__calling {
        padding-right: 10px;
    }
}

@media (max-width: 680px){
    .header__phone{
        display: none; 
    }
}

@media (max-width: 600px) {
    .header-down {
        background: #576077;
        position: fixed;
        width: 80%;
        height: 100vh;
        top: 0;
        left: -100%;
        transition: 0.5s;
        z-index: 7;
    }

    .header__list {
        display: block;
    }

    .header__searching {
        display: none;
    }

    .header__number {
        display: none;
    }

    .header__call {
        display: none;
    }

    .burger-menu {
        display: inline-block;
    }
    .header__wrapper {
        padding: 20px 17px 0 17px

    }
    .header__cart {
        display: none;
    } 

    .tel__cart {
        display: block;
    }

    .cart-add {
        background: #0074D4;
        border-radius: 27px;
        color: #ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        position: absolute;
        bottom: 55%;
        left: 31%;
        padding: 3px 7px 5px 9px;
    }

    .header__btn {
        margin: 0px 0px 10px 64px
    }

    .header__calling {
        margin: 10px 0px 10px 64px
    }
    
    .active {
        left: 0%;
    }
}
.rootKatalog:active, .rootKatalog:hover, .rootKatalog {
    text-decoration: none;
    color: #ffff;
}
.rootPoduct:active, .rootPoduct:hover, .rootPoduct {
    text-decoration: none;
    color: #2B3350;
}