.select {
    margin-bottom: 90px;
}

.select__wrapper {
    padding:  0 374px;
}

.select__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 120%;
    color: #2B3350;
    text-align: center;
    margin-top: 92px;
    margin-bottom: 22px;
}

.select__katalog {
    display: flex;
    justify-content: space-between;
}

.select__back {
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B3350;
    padding-right: 98px;
    padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: url('../img/select/back.png') no-repeat;
    background-position-y: 50%;
    cursor: pointer;
}

.select__back:hover {
    border: 2px solid #2F80ED;
}

.select__seat {
    position: relative;
    width: 281px;
    height: 65px;
}

.select__seat-active {
    border: 1px solid #E7EAEF;
    border-radius: 8px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
}

.select__chevron-img {
    position: absolute;
    right: 40px;
    width: 14px;
    height: 8px;
    right: 40px;
    top: calc(50% - 4px);
    cursor: pointer;
    z-index: 10;
}

.seat-img {
    margin-right: 20px;
}

.select__seat-back {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #959AAE;
    padding-left: 8px;
    padding-right: 8px;
    top: -11px;
    left: 40px;
    background: #FFFFFF;
}

.select_seat-seat {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #959AAE;
    padding-left: 8px;
    padding-right: 8px;
    top: -11px;
    left: 40px;
    background: #FFFFFF;
}

.select_seat-headrest {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #959AAE;
    padding-left: 8px;
    padding-right: 8px;
    top: -11px;
    left: 40px;
    background: #FFFFFF;
}

.select__seat-armrest {
    position: absolute;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #959AAE;
    padding-left: 8px;
    padding-right: 8px;
    top: -11px;
    left: 40px;
    background: #FFFFFF;
}


.select__seat-hidden {
    width: 100%;
    position: absolute;
    border: 2px solid #EDEDF2;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(157, 160, 166, 0.15);
    border-radius: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B3350;
    top: 57px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
    border-top: none;
    z-index: 99;
    background: #FFFFFF;
}

.value {
    cursor: pointer;
    padding: 9px 0 10px 9px;
}

.value-active {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #2B3350;
}

.is-active {
    display: block;
}

.is-active__rotate {
    transform: rotate(180deg);
}
